$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {

}

.container {
    width: 100%;
}
// Main Section Start
#main {
    width: 100%;
    height: 780px;
    overflow: hidden;
    background-size: auto;
    background-color: rgba(0, 0, 0, .7);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 100%;
        height: 155px;
        background-color: rgb(46, 49, 51);
    }  
}



.background-image {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

    @media screen and (max-width: 1024px) { /* Specific to this particular image */
        img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
        }
    }

    /* iPads (landscape) ----------- */
    @media screen and (max-width : 768px) {
        img.bg {
          left: 50%;
          margin-left: -384px;   /* 50% */
        }
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    }    
}

.logo {
    margin-top: 100px;
    width: 100px;
    height: auto;

    /* iPads (landscape) ----------- */
    @media screen and (max-width : 768px) {
        width: 50px;
        height: auto;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: inline-block;
        margin-top: 40px;
    } 
}

.col-lg-12 {
    margin: 0 auto;
    position: relative;
    text-align: center;

    .main-title {
        text-align: center;
        color: white;
        text-transform: capitalize;
        padding-top: 70px;
        font-size: 4em;
        font-weight: 100;
        letter-spacing: 2px;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            text-align: center;
            color: white;
            text-transform: capitalize;
            margin-top: 11px;
            padding-top: 0px;
            font-size: 12px;
            font-weight: 100;
            letter-spacing: 2px;
        } 
    }

    p {
        margin-top: 5px;
        text-align: center;
        letter-spacing: 2px;
        color: white;
        text-transform: uppercase;
        font-size: 13px;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            display: none;
        } 
    }
}

.underline-title {
    margin: 20px auto;
    height: 2px;
    width: 100px;
    border-bottom: 1px solid silver;
}     

.navigation {
    width: 100%;
    position: relative;
}

#work-btn {
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    color: silver;
    border: 2px solid rgb(113, 195, 174);
    line-height: 36px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;
    cursor: pointer;
    cursor: hand;

    &:hover {
        background-color: rgba(113, 195, 174, .4);
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

#about-btn {
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    color: silver;
    border: 2px solid rgb(113, 195, 174);
    line-height: 36px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;
    cursor: pointer;
    cursor: hand;

    &:hover {
        background-color: rgba(113, 195, 174, .4);
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

#contact-btn {
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    color: silver;
    border: 2px solid rgb(113, 195, 174);
    line-height: 36px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;
    cursor: pointer;
    cursor: hand;

    &:hover {
        background-color: rgba(113, 195, 174, .4);
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

// Main Section End



















// Ettain Group Scrolling Gallery Start
 
.ettain-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  opacity: 0;
}

figure.ettain-show {
  opacity: 1;
  position: static;
}

.ettain-next, .ettain-prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 46.5%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.ettain-next:hover, .ettain-prev:hover {
  cursor: pointer;
  opacity: 1;
}

.ettain-next {
    width: 60px;
    height: auto;
    right: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 20px;
}

.ettain-prev {
    width: 60px;
    height: auto;
    left: 0;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
}








// Woolpert Scrolling Gallery Start
 
.woolpert-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  opacity: 0;
}

figure.woolpert-show {
  opacity: 1;
  position: static;
}

.woolpert-next, .woolpert-prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 46.5%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.woolpert-next:hover, .woolpert-prev:hover {
  cursor: pointer;
  opacity: 1;
}

.woolpert-next {
    width: 60px;
    height: auto;
    right: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 20px;
}

.woolpert-prev {
    width: 60px;
    height: auto;
    left: 0;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
}







// River Church Gallery Start
 
.river-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  opacity: 0;
}

figure.river-show {
  opacity: 1;
  position: static;
}

.river-next, .river-prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 46.5%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.river-next:hover, .river-prev:hover {
  cursor: pointer;
  opacity: 1;
}

.river-next {
    width: 60px;
    height: auto;
    right: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 20px;
}

.river-prev {
    width: 60px;
    height: auto;
    left: 0;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
}



// Home Depot Gallery Start
 
.home-depot-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  opacity: 0;
}

figure.home-depot-show {
  opacity: 1;
  position: static;
}

.home-depot-next, .home-depot-prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 46.5%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.home-depot-next:hover, .home-depot-prev:hover {
  cursor: pointer;
  opacity: 1;
}

.home-depot-next {
    width: 60px;
    height: auto;
    right: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 20px;
}

.home-depot-prev {
    width: 60px;
    height: auto;
    left: 0;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
}



// Affluent Gallery Start
 
.affluent-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  opacity: 0;
}

figure.affluent-show {
  opacity: 1;
  position: static;
}

.affluent-next, .affluent-prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 46.5%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.affluent-next:hover, .affluent-prev:hover {
  cursor: pointer;
  opacity: 1;
}

.affluent-next {
    width: 60px;
    height: auto;
    right: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 20px;
}

.affluent-prev {
    width: 60px;
    height: auto;
    left: 0;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
}

// Chicopee Gallery Start
 
.chicopee-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  opacity: 0;
}

figure.chicopee-show {
  opacity: 1;
  position: static;
}

.chicopee-next, .chicopee-prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 46.5%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.chicopee-next:hover, .chicopee-prev:hover {
  cursor: pointer;
  opacity: 1;
}

.chicopee-next {
    width: 60px;
    height: auto;
    right: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 20px;
}

.chicopee-prev {
    width: 60px;
    height: auto;
    left: 0;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
}

// Smart Fox Gallery Start
 
.smart-fox-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  opacity: 0;
}

figure.smart-fox-show {
  opacity: 1;
  position: static;
}

.smart-fox-next, .smart-fox-prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 46.5%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.smart-fox-next:hover, .smart-fox-prev:hover {
  cursor: pointer;
  opacity: 1;
}

.smart-fox-next {
    width: 60px;
    height: auto;
    right: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 20px;
}

.smart-fox-prev {
    width: 60px;
    height: auto;
    left: 0;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
}

// Red Sea Gallery Start
 
.red-sea-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  opacity: 0;
}

figure.red-sea-show {
  opacity: 1;
  position: static;
}

.red-sea-next, .red-sea-prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 46.5%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.red-sea-next:hover, .red-sea-prev:hover {
  cursor: pointer;
  opacity: 1;
}

.red-sea-next {
    width: 60px;
    height: auto;
    right: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 20px;
}

.red-sea-prev {
    width: 60px;
    height: auto;
    left: 0;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
}

// Mello Yello Gallery Start
 
.mello-yello-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  opacity: 0;
}

figure.mello-yello-show {
  opacity: 1;
  position: static;
}

.mello-yello-next, .mello-yello-prev {
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 46.5%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.mello-yello-next:hover, .mello-yello-prev:hover {
  cursor: pointer;
  opacity: 1;
}

.mello-yello-next {
    width: 60px;
    height: auto;
    right: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 20px;
}

.mello-yello-prev {
    width: 60px;
    height: auto;
    left: 0;
    padding: 15px 15px 15px 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 20px;
}









// Work Section

#graphic-design,
#ui-design,
#web-development {
    background-color: rgb(218, 220, 221);
    width: 100%;
    height: auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        background-color: white;
    } 
}

.work-container {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        padding-left: 8px;
        padding-bottom: 10px;
    } 
}

.work-header {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 120px;
    background-color: rgb(113, 195, 174);


    .work-intro {
        text-align: center;
        opacity: .7;
        letter-spacing: 6px;
        line-height: 60px;
        color: rgb(47, 63, 79);
        font-weight: 200;
        font-size: 34px;
        text-transform: uppercase; 

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            padding-left: 0px;
            text-align: center;
        } 
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        padding-left: 0px;
    } 
}

// Projects 

.project-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 350px;
    color: rgb(46, 49, 51);

    .project-photo-container {
        position: relative;
        margin: 0 auto;
        padding-top: 24px;
        overflow: hidden;
        width: 300px;
        height: 220px;
        background-image: center;

        // iPhone
        @media only screen and (max-width : 320px) {
            width: 287px;
            height: 165px;
            position: absolute;
        } 

        .project-photo {
            margin: 0 auto;
            width: 300px;
            height: auto;

            // iPhone
            @media only screen and (max-width : 320px) {
                width: 287px;
                position: absolute;
            } 
        }
    }

    .design-button-one, 
    .design-button-two, 
    .design-button-three, 
    .design-button-four,
    .design-button-five,
    .design-button-six,
    .design-button-seven,
    .design-button-eight,
    .design-button-nine, 
    .ui-button-one,
    .ui-button-two,
    .ui-button-three,
    .ui-button-four,
    .ui-button-five,
    .dev-button-one,
    .dev-button-two,
    .dev-button-three,
    .dev-button-four {
        cursor: pointer;
        display: inline-block;
        background-color: rgb(113, 195, 174);
        width: 300px;
        height: 50px;
        margin: 0 auto;
        margin-top: 58px;
        color: white;

        .design-copy {
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: 400;
            text-align: center;
            line-height: 50px;
        }

        &:hover {
            background-color: rgb(77, 155, 131);
        }

        // iPhone
        @media only screen and (max-width : 320px) {
            width: 90%;
            margin-top: 88px;
            margin-left: 15px;
            margin-right: 0px;
            color: white;
            border: none;
            background-color: rgb(138, 193, 186); 
        }
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 287px;
        height: 287px;
        margin: 10px;
        box-shadow: none;
        border-radius: 0px;
        background-color: rgba(187, 187, 187, .4);
    } 
}

// Graphic Design Gallery Section

// Ettain Group Gallery

.ettain-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .ettain-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-ettain-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .ettain-photo-container {
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            margin-top: 80px; 
            margin-left: 80px;     
            display: inline-block;
            background-color: white;
            width: 78%;
            height: auto;
            text-decoration: none;
            color: rgb(46, 49, 51);

            .ettain-photos {
                padding: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .ettain-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 21.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}



// Logo Gallery



.logo-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .logo-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-logo-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .logo-photo-container {
            padding-top: 155px;

            .logo-container {
                vertical-align: top;
                margin: 20px;
                position: relative;
                display: inline-block;
                background-color: snow;
                width: 345px;
                height: 325px;
                color: rgb(46, 49, 51);

                /* Smartphones (portrait) ----------- */
                @media only screen and (max-width : 320px) {
                    width: 280px;
                    height: 265px;
                }  
            }

            .inside-logo-container {
                width: 350px;
                height: 330px;
                margin: 0 auto;

                /* Smartphones (portrait) ----------- */
                @media only screen and (max-width : 320px) {
                    width: 280px;
                    height: 265px;
                } 

                .logo-image {
                    margin-top: 34px;
                    display: inline-block;
                    width: 260px;
                    height: auto;
                    -webkit-filter: grayscale(1);
                    background-size: 100%;
                    transition-duration: .7s;
                    opacity: .7;

                    &:hover {
                        -webkit-filter: grayscale(0);
                        background-size: 100%;
                        opacity: 1;
                    }

                    /* Smartphones (portrait) ----------- */
                    @media only screen and (max-width : 320px) {
                        -webkit-filter: grayscale(0);
                        width: 185px;
                        height: auto;
                        margin-top: 40px;
                        background-size: 100%;
                        opacity: 1;
                    } 
                }
            }
        }
    }

    .logo-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 48.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}


// Woolpert Gallery
 

.woolpert-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .woolpert-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-woolpert-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .woolpert-photo-container {
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            margin-top: 80px; 
            margin-left: 80px;     
            display: inline-block;
            background-color: white;
            width: 78%;
            height: auto;
            text-decoration: none;
            color: rgb(46, 49, 51);

            .woolpert-photos {
                padding: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .woolpert-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 75.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}



// River Church Gallery
 

.river-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .river-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-river-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .river-photo-container {
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            margin-top: 80px; 
            margin-left: 80px;     
            display: inline-block;
            background-color: white;
            width: 78%;
            height: auto;
            text-decoration: none;
            color: rgb(46, 49, 51);

            .river-photos {
                padding: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .river-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 21.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}


// Home Depot Gallery
 

.home-depot-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .home-depot-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-home-depot-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .home-depot-photo-container {
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            margin-top: 80px; 
            margin-left: 80px;     
            display: inline-block;
            background-color: white;
            width: 78%;
            height: auto;
            text-decoration: none;
            color: rgb(46, 49, 51);

            .home-depot-photos {
                padding: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .home-depot-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 75.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}


// Affluent Gallery
 

.affluent-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .affluent-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-affluent-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .affluent-photo-container {
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            margin-top: 80px; 
            margin-left: 80px;     
            display: inline-block;
            background-color: white;
            width: 78%;
            height: auto;
            text-decoration: none;
            color: rgb(46, 49, 51);

            .affluent-photos {
                padding: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .affluent-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 75.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}


// Chicopee Gallery
 

.chicopee-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .chicopee-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-chicopee-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .chicopee-photo-container {
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            margin-top: 80px; 
            margin-left: 80px;     
            display: inline-block;
            background-color: white;
            width: 78%;
            height: auto;
            text-decoration: none;
            color: rgb(46, 49, 51);

            .chicopee-photos {
                padding: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .chicopee-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 75.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}


// Smart Fox Gallery
 

.smart-fox-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .smart-fox-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-smart-fox-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .smart-fox-photo-container {
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            margin-top: 80px; 
            margin-left: 80px;     
            display: inline-block;
            background-color: white;
            width: 78%;
            height: auto;
            text-decoration: none;
            color: rgb(46, 49, 51);

            .smart-fox-photos {
                padding: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .smart-fox-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 75.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}


// Smart Fox Gallery
 

.red-sea-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .red-sea-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-red-sea-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .red-sea-photo-container {
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            margin-top: 80px; 
            margin-left: 80px;     
            display: inline-block;
            background-color: white;
            width: 78%;
            height: auto;
            text-decoration: none;
            color: rgb(46, 49, 51);

            .red-sea-photos {
                padding: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .red-sea-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 75.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}

// Mello Yello Gallery
 

.mello-yello-gallery-container {
    height: auto;
    width: 100%;
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;

    .mello-yello-gallery {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        background-color: rgb(113, 195, 174);
        text-align: center;
        padding-bottom: 60px;

        #exit-mello-yello-container {
            display: inline-block;
            cursor: pointer;
            width: 30px;
            height: 36px;
            float: right;
            margin: 15px;
            z-index: 100;
            margin-top: 100px;
            margin-right: 36px;

            .x-line-one {
                height: 38px;
                width: 2px;
                margin-left: 13px;
                background-color: white;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari and Chrome */
                z-index: 1;
            }

            .x-line-two {
                height: 38px;
                width: 2px;
                background-color: white;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Safari and Chrome */
                z-index: 2;
            }

            &:hover {
                opacity: .5;
            }
        }

        .mello-yello-photo-container {
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            margin-top: 80px; 
            margin-left: 80px;     
            display: inline-block;
            background-color: white;
            width: 78%;
            height: auto;
            text-decoration: none;
            color: rgb(46, 49, 51);

            .mello-yello-photos {
                padding: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .mello-yello-arrow-up {
        width: 0; 
        height: 0;
        margin-left: 75.27%; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid rgb(113, 195, 174);
    }
}

























#about {
    background-color: rgba(113, 195, 174, .8);
    width: 100%;
    height: auto; 

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        height: auto;
    }
}

.about-me-copy {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10%;
    padding-bottom: 12%;
    text-align: center;
    line-height: 38px;
    letter-spacing: 1px;
    padding-left: 12%;
    padding-right: 12%;
    font-weight: 300;
    font-size: 25px;
    color: snow;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        margin-bottom: 0px;
        padding-bottom: 45px;
        padding-top: 50px;
        line-height: 23px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 200;
        font-size: 15px;
    }

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (max-width : 768px) {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 18px;
        line-height: 25px;
    }
}


















































// Header

#logo-page-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    background-color: rgb(47, 63, 79);
    display: none;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        position: relative;
    }

    &:active {
        display: hidden;
    }
}

.header-container {
    width: 100%;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 100%;
    } 
}

.header-logo-div {
    padding-top: 5px;
    display: inline-block;
    width: 60px;
    height: 60px;

    .header-logo {
        margin-top: 10px;
        margin-left: 15px;
        width: 50px;
        height: 50px;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            margin-left: 10px;
        } 
    }
}

.navigation-buttons {
    display: inline-block;
    float: right;

    #header-home-button {
        cursor: pointer;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 80px;
        color: white;
        border: none;
        float: right;
        background-color: rgb(47, 63, 79);
        line-height: 70px;
        text-align: center;
        padding-top: 3px;
        margin: 0 auto;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            background-color: rgb(55, 74, 93);
            border-bottom: 4px solid rgb(113, 195, 174);
        }
    }

    #header-work-button {
        cursor: pointer;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 80px;
        color: white;
        border: none;
        float: right;
        background-color: rgb(47, 63, 79);
        line-height: 70px;
        text-align: center;
        padding-top: 3px;
        margin: 0 auto;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            background-color: rgb(55, 74, 93);
            border-bottom: 4px solid rgb(113, 195, 174);

            .menu-graphic-design {
                visibility: visible;
            }

            .menu-ui-design {
                visibility: visible;
            }

            .menu-web-dev {
                visibility: visible;
            }
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            display: none;
        } 
    }

    .menu-graphic-design {
        cursor: pointer;
        font-weight: 200;
        visibility: hidden;
        letter-spacing: 2px;
        display: inline-block;
        width: 246px;
        height: 80px;
        color: white;
        border: none;
        float: left;
        padding-right: 52px;
        margin-left: -40px;
        position: relative;
        background-color: rgb(47, 63, 79);
        line-height: 80px;
        margin-top: 7px;
        z-index: 999;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            visibility: visible;
            background-color: rgb(55, 74, 93);
        }
    }

    .menu-ui-design {
        cursor: pointer;
        font-weight: 200;
        visibility: hidden;
        letter-spacing: 2px;
        display: inline-block;
        width: 246px;
        height: 80px;
        color: white;
        border: none;
        float: left;
        padding-right: 90px;
        margin-left: -40px;
        position: relative;
        background-color: rgb(47, 63, 79);
        line-height: 80px;
        z-index: 999;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            visibility: visible;
            background-color: rgb(55, 74, 93);
        }
    }

    .menu-web-dev {
        cursor: pointer;
        font-weight: 200;
        visibility: hidden;
        letter-spacing: 2px;
        display: inline-block;
        width: 246px;
        height: 80px;
        color: white;
        border: none;
        float: left;
        padding-right: 26px;
        margin-left: -40px;
        position: relative;
        background-color: rgb(47, 63, 79);
        line-height: 80px;
        z-index: 999;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            visibility: visible;
            background-color: rgb(55, 74, 93);
        }
    }
}

#header-about-button {
    cursor: pointer;
    font-weight: 200;
    letter-spacing: 2px;
    display: inline-block;
    width: 121px;
    height: 80px;
    color: white;
    border: none;
    float: right;
    background-color: rgb(47, 63, 79);
    line-height: 70px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    -webkit-transition: all .2s ease-in-out;

    &:hover {
        background-color: rgb(55, 74, 93);
        border-bottom: 4px solid rgb(113, 195, 174);
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

#header-contact-button {
    cursor: pointer;
    font-weight: 200;
    letter-spacing: 2px;
    display: inline-block;
    width: 121px;
    height: 80px;
    color: white;
    border: none;
    float: right;
    background-color: rgb(47, 63, 79);
    line-height: 70px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    -webkit-transition: all .2s ease-in-out;

    &:hover {
        background-color: rgb(55, 74, 93);
        border-bottom: 4px solid rgb(113, 195, 174);
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}













// Main Section Start

#logo-main {
    width: 100%;
    height: 380px;
    overflow: hidden;
    background-size: auto;
    background-color: rgb(138, 193, 186);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        height: auto;
    } 
}

.col-lg-12 {
    margin: 0 auto;
    position: relative;
    text-align: center;

    h1 {
        text-align: center;
        color: white;
        text-transform: capitalize;
        padding-top: 152px;
        font-size: 4em;
        font-weight: 100;
        letter-spacing: 2px;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            padding-top: 10px;
            padding-bottom: 25px;
            font-size: 20px;
        } 
    }
}

.logo-work-intro {
    letter-spacing: 1px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 24px;
    color: white;
    font-weight: 100;
    font-size: 20px;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

// Main Section End



















// Footer Start


#footer {
    background-color: rgb(47, 63, 79);
    background-size: 100% 100%;
    width: 100%;
    height: auto;
}

.connect {
    

    .say-hello {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        padding-top: 55px;
        font-size: 24px;
        color: rgb(113, 195, 174);
        margin-top: 0px;
        text-align: center;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            font-size: 16px;
        } 
    }
}

.underline {
    margin: 20px auto;
    background-color: rgb(113, 195, 174);
    width: 20px;
    height: 2px;
}

.social-links {
    text-align: center;
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 115px;
    width: 100%;
    height: 85px;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        margin-top: 20px;
        margin-bottom: 10px;
    }  
}

.github-icon {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background-size: 100%;
    -webkit-filter: brightness(10);
    opacity: .7;
    cursor: pointer;

    &:hover {
        -webkit-filter: none;
        background-size: 100%;
        opacity: 1;
    }
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}

.linkedin-icon {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: no-repeat;
    background-size: 100%;
    -webkit-filter: brightness(10);
    opacity: .7;
    cursor: pointer;

    &:hover {
        -webkit-filter: none;
        background-size: 100%;
        opacity: 1;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}

.wordpress-icon {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background-size: 100%;
    -webkit-filter: brightness(10);
    opacity: .7;
    cursor: pointer;

    &:hover {
        -webkit-filter: none;
        background-size: 100%;
        opacity: 1;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}


.twitter-icon {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    -webkit-filter: brightness(10);
    opacity: .7;
    background-size: 100%;
    cursor: pointer;

    &:hover {
        -webkit-filter: none;
        background-size: 100%;
        opacity: 1;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}

.mail-icon {
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    margin-right: 20px;
    width: 85px;
    height: 85px;
    -webkit-filter: brightness(10);
    opacity: .7;
    background-size: 100%;
    cursor: pointer;

    &:hover {
        -webkit-filter: none;
        background-size: 100%;
        opacity: 1;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}

.dribbble-icon {
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    -webkit-filter: brightness(10);
    background-size: 100%;
    opacity: .7;
    cursor: pointer;

    &:hover {
        -webkit-filter: none;
        background-size: 100%;
        opacity: 1;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
    }  
}

.bottom-line {
    margin-top: 75px;
    width: 100%;
    height: 1px;
    background-color: rgb(113, 195, 174);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        margin-top: 0px;
    }  
}

.copyright-div {
    margin-top: 20px;
    padding-bottom: 25px;
    height: 85px;
    width: 100%;
    text-align: center;

    .copyright-info {
        padding-left: 85px;
        padding-top: 25px;
        display: inline-block;
        text-align: center;
        font-size: 11px;
        font-weight: 100;
        color: silver;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            padding-left: 0px;
            padding-top: 0px;
            display: block;
        }  

    }
}

#scroll-up-btn {
    float: right;
    right: 10px;
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    -webkit-filter: brightness(10);
    opacity: .7;
    cursor: pointer;
    cursor: hand;

    &:hover {
        -webkit-filter: none;
        background-size: 100%;
        opacity: 1;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        float: none;
        right: 0px;
        margin-right: 0px;
        width: 35px;
        height: 35px;
    }  
}

// Footer End



















// /* Smartphones (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {

// }

// /* Smartphones (landscape) ----------- */
// @media only screen 
// and (min-width : 321px) {
// /* Styles */
// }

// /* Smartphones (portrait) ----------- */
// @media only screen 
// and (max-width : 320px) {

// .navigation div {
//     width: 100%;
//     display: block;
//     position: relative;
// }

// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {
// /* Styles */
// }

// /* iPads (landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : landscape) {
// /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
// /* Styles */
// }

// /* Desktops and laptops ----------- */
// @media only screen 
// and (min-width : 1224px) {
// /* Styles */
// }

// /* Large screens ----------- */
// @media only screen 
// and (min-width : 1824px) {
// /* Styles */
// }

// /* iPhone 4 ----------- */
// @media
// only screen and (-webkit-min-device-pixel-ratio : 1.5),
// only screen and (min-device-pixel-ratio : 1.5) {
// /* Styles */
// }