$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {

}

.container {
    width: 100%;
}
// Main Section Start
#main {
    width: 100%;
    height: 780px;
    overflow: hidden;
    background-size: auto;
    background-color: rgba(0, 0, 0, .7);
}

.background-image {
    width: 100%;
    height: auto;
    position: fixed;
    background-size: cover;
    background-position: center;
    z-index: -100;

    /* Smartphones (landscape) ----------- */
    @media screen and (max-width : 768px) {
        width: auto;
        height: 100%;
    }
}

.logo {
    margin-top: 100px;
    width: 100px;
    height: auto;

    /* Smartphones (landscape) ----------- */
    @media screen and (max-width : 768px) {
        width: 50px;
        height: auto;
    }
}

.col-lg-12 {
    margin: 0 auto;
    position: relative;
    text-align: center;

    h1 {
        text-align: center;
        color: white;
        text-transform: capitalize;
        padding-top: 70px;
        font-size: 4em;
        font-weight: 100;
        letter-spacing: 2px;
    }

    p {
        margin-top: 5px;
        text-align: center;
        letter-spacing: 2px;
        color: white;
        text-transform: uppercase;
        font-size: 13px;
    }
}

.underline-title {
    margin: 20px auto;
    height: 2px;
    width: 100px;
    border-bottom: 1px solid silver;
}     

.navigation {
    width: 100%;
    position: relative;
}

#work-btn {
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    color: silver;
    border: 2px solid rgb(138, 193, 186);
    line-height: 36px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;

    &:hover {

        background-color: rgba(138, 193, 186, .4);
    }
}

#about-btn {
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    color: silver;
    border: 2px solid rgb(138, 193, 186);
    line-height: 36px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;

    &:hover {

        background-color: rgba(138, 193, 186, .4);
    }
}

#contact-btn {
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    color: silver;
    border: 2px solid rgb(138, 193, 186);
    line-height: 36px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;

    &:hover {

        background-color: rgba(138, 193, 186, .4);
    }
}

// Main Section End















// Main Work Section Start

#work {
    background-color: #DADADA;
    width: 100%;
    height: auto;
}

.work-container {
    padding-bottom: 100px;
    width: 100%;
    padding-left: 9.5%;
    margin: 0 auto;
}

.work-header {
    padding-left: 9.5%;
    padding-top: 30px;
    margin-top: 0px;

    .work-intro {
        padding-left: 20px;
        opacity: .7;
        letter-spacing: 1px;
        line-height: 33px;
        color: rgb(46, 49, 51);
        font-weight: 100;
        font-size: 26px;
    }
}

// Project Container Content Styles

.project-photo-container {
    overflow: hidden;
    width: 345px;
    height: 200px;
}

.project-photo {
    width: 345px;
    height: auto;
}

.project-title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 138px;
    margin-left: 48px;
    margin-bottom: 5px;
}

.project-description {
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-left: 48px;
    margin-top: 0px;
}
        

// Project Container One

.project-one-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    border-radius: 2px;
    box-shadow: 6px 6px 0px 0px silver;
    color: rgb(46, 49, 51);
    transition-duration: .6s; 

    &:hover {
            color: snow;
            background-color: rgb(138, 193, 186);
        }
}

// Project Container Two

.project-two-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    border-radius: 2px;
    box-shadow: 6px 6px 0px 0px silver;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
            color: snow;
            background-color: rgb(138, 193, 186);
        }
}

// Project Container Three

.project-three-container {
    margin: 20px;      
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 6px 6px 0px 0px silver;
    text-decoration: none;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
        color: snow;
        background-color: rgb(138, 193, 186);
    }
}

// Project Container Four

.project-four-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    border-radius: 2px;
    box-shadow: 6px 6px 0px 0px silver;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
            color: snow;
            background-color: rgb(138, 193, 186);
        }
}

// Project Container Five

.project-five-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    border-radius: 2px;
    box-shadow: 6px 6px 0px 0px silver;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
            color: snow;
            background-color: rgb(138, 193, 186);
        }
}

// Project Container Six

.project-six-container {
    position: relative;
    margin: 20px;      
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 6px 6px 0px 0px silver;
    text-decoration: none;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
        color: snow;
        background-color: rgb(138, 193, 186);
    }
}

// Work Section End













#about {
    background-color: rgba(72, 126, 119, 0.8);
    width: 100%;
    height: 525px; 
}

.about-me-copy {
    margin-top: 0px;
    padding-top: 128px;
    text-align: center;
    line-height: 38px;
    letter-spacing: 1px;
    padding-left: 150px;
    padding-right: 150px;
    font-weight: 300;
    font-size: 25px;
    color: snow;
}
















































// Logo Page Section Start



#logo-page-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    background-color: rgb(46, 49, 51);
}

.header-container {
    width: 1228px;
    margin: 0 auto;
}

.header-logo-div {
    padding-top: 5px;
    display: inline-block;
    width: 60px;
    height: 60px;

    .header-logo {
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }
}

.navigation-buttons {
    display: inline-block;
    float: right;

    .home-button {
        font-weight: 100;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 80px;
        color: white;
        border: none;
        background-color: rgb(46, 49, 51);
        line-height: 70px;
        text-align: center;
        padding-top: 3px;
        margin: 0 auto;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, .1);
            border-bottom: 4px solid rgb(138, 193, 186);
        }
    }
}

#contact-button {
    font-weight: 100;
    letter-spacing: 2px;
    display: inline-block;
    width: 121px;
    height: 80px;
    color: white;
    border: none;
    background-color: rgb(46, 49, 51);
    line-height: 70px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    -webkit-transition: all .2s ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
        border-bottom: 4px solid rgb(138, 193, 186);
    }
}



// Main Section Start
#logo-main {
    width: 100%;
    height: 380px;
    overflow: hidden;
    background-size: auto;
    background-color: rgb(138, 193, 186);
}

.col-lg-12 {
    margin: 0 auto;
    position: relative;
    text-align: center;

    h1 {
        text-align: center;
        color: white;
        text-transform: capitalize;
        padding-top: 152px;
        font-size: 4em;
        font-weight: 100;
        letter-spacing: 2px;
    }
}

.logo-work-intro {
    letter-spacing: 1px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 24px;
    color: white;
    font-weight: 100;
    font-size: 20px;
}

// Main Section End



// Work Section Start

#logo-work {
    background-color: #DADADA;
    width: 100%;
    height: auto;
}

.logo-work-container {
    padding-top: 65px;
    width: 100%;
    text-align: center;
}       

// Project Container One

.logo-one-container {
    vertical-align: top;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 6px 6px 0px 0px silver;
    color: rgb(46, 49, 51); 
}

.get-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    .get-logo {
        margin-top: 34px;
        display: inline-block;
        width: 260px;
        height: 280px;
        background: url(/images/get-a-gig-logo-gray.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            background: url(/images/get-a-gig-logo.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}



// Project Container Two

.logo-two-container {
    vertical-align: top;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 6px 6px 0px 0px silver;
    color: rgb(46, 49, 51);
}

.rivera-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    .rivera-logo {
        display: inline-block;
        width: 290px;
        margin-top: 17px;
        height: 280px;
        background: url(/images/rivera-logo-gray.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            background: url(/images/rivera-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

// Project Container Three

.logo-three-container {
    margin-top: 20px;      
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 6px 6px 0px 0px silver;
    text-decoration: none;
    color: rgb(46, 49, 51);
}

.golf-slayer-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    .golf-slayer-logo {
        display: inline-block;
        width: 278px;
        margin-top: 27px;
        height: 280px;
        background: url(/images/golf-slayer-gray.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            background: url(/images/golf-slayer-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

// Project Container Three

.logo-four-container {
    margin-top: 20px;
    margin-right: 40px;      
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 6px 6px 0px 0px silver;
    text-decoration: none;
    color: rgb(46, 49, 51);
}

.my-yellow-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    .my-yellow-logo {
        display: inline-block;
        width: 278px;
        margin-top: 27px;
        height: 280px;
        background: url(/images/my-yellow-gray.png) no-repeat;

        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            background: url(/images/my-yellow-color.png) no-repeat;
            background-size: 100%;
            opacity: 1; 
        }
    }
}

.logo-five-container {
    margin-top: 20px;
    margin-right: 40px;      
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 6px 6px 0px 0px silver;
    text-decoration: none;
    color: rgb(46, 49, 51);
}

.queen-city-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    .queen-city-logo {
        display: inline-block;
        width: 278px;
        margin-top: 27px;
        height: 280px;
        background: url(/images/queen-city-fab-gray.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            background: url(/images/queen-city-fab-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

.logo-six-container {
    margin-top: 20px;     
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 6px 6px 0px 0px silver;
    text-decoration: none;
    color: rgb(46, 49, 51);
}

.safe-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    .safe-logo {
        display: inline-block;
        width: 278px;
        margin-top: 27px;
        height: 280px;
        background: url(/images/safe-logo-gray.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            background: url(/images/safe-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

.logo-seven-container {
    margin-top: 20px;
    margin-right: 40px;      
    margin-bottom: 120px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 6px 6px 0px 0px silver;
    text-decoration: none;
    color: rgb(46, 49, 51);
}

.river-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    .river-logo {
        display: inline-block;
        width: 330px;
        margin-top: 4px;
        height: 315px;
        background: url(/images/river-logo-gray.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            background: url(/images/river-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

.logo-eight-container {
    margin-top: 20px;
    margin-right: 40px;      
    margin-bottom: 120px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 6px 6px 0px 0px silver;
    text-decoration: none;
    color: rgb(46, 49, 51);
}

.senior-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    .senior-logo {
        display: inline-block;
        width: 340px;
        margin-top: 3px;
        height: 315px;
        background: url(/images/senior-services-logo-gray.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            background: url(/images/senior-services-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

.logo-nine-container {
    margin-top: 20px;    
    margin-bottom: 120px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 6px 6px 0px 0px silver;
    text-decoration: none;
    color: rgb(46, 49, 51);
}

.tinas-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    .tinas-logo {
        display: inline-block;
        width: 340px;
        margin-top: 3px;
        height: 315px;
        background: url(/images/tees-cakery-logo-gray.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            background: url(/images/tees-cakery-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

// Logo Page Section End















// Footer Start


#footer {
    background-color: rgb(46, 49, 51);
    background-size: 100% 100%;
    width: 100%;
    height: auto;
}

.connect {
    

    .say-hello {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        padding-top: 55px;
        font-size: 24px;
        color: rgb(138, 193, 186);
        margin-top: 0px;
        text-align: center;
    }
}

.underline {
    margin: 20px auto;
    background-color: rgb(138, 193, 186);
    width: 20px;
    height: 2px;
}

.social-links {
    text-align: center;
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 115px;
    width: 100%;
    height: 85px;
}

.github {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/mark-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/mark-white.png) no-repeat;
        background-size: 100%;
    }
}

.linkedin {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/linkedin-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/linkedin-white.png) no-repeat;
        background-size: 100%;
    }
}

.wordpress {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/wordpress-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/wordpress-white.png) no-repeat;
        background-size: 100%;
    }
}


.twitter {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/twiiter-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/twiiter-white.png) no-repeat;
        background-size: 100%;
    }
}

.mail {
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/mail-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/mail-white.png) no-repeat;
        background-size: 100%;
    }
}

.bottom-line {
    margin-top: 75px;
    width: 100%;
    height: 1px;
    background-color: silver;
    opacity: .2;
}

.copyright-div {
    margin-top: 20px;
    padding-bottom: 25px;
    height: 85px;
    width: 100%;
    text-align: center;

    .copyright-info {
        padding-left: 85px;
        padding-top: 25px;
        display: inline-block;
        text-align: center;
        font-size: 11px;
        font-weight: 100;
        color: silver;

    }
}

#scroll-up-btn {
    float: right;
    right: 10px;
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: url(/images/up-arrow-white.png) no-repeat;
    background-size: 100%;
    opacity: .5;
    transition-duration: .7s;

    &:hover {
        background: url(/images/up-arrow-green.png) no-repeat;
        background-size: 100%;
        opacity: .5;
    }
}

// Footer End



















// /* Smartphones (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {

// }

// /* Smartphones (landscape) ----------- */
// @media only screen 
// and (min-width : 321px) {
// /* Styles */
// }

// /* Smartphones (portrait) ----------- */
// @media only screen 
// and (max-width : 320px) {

// .navigation div {
//     width: 100%;
//     display: block;
//     position: relative;
// }

// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {
// /* Styles */
// }

// /* iPads (landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : landscape) {
// /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
// /* Styles */
// }

// /* Desktops and laptops ----------- */
// @media only screen 
// and (min-width : 1224px) {
// /* Styles */
// }

// /* Large screens ----------- */
// @media only screen 
// and (min-width : 1824px) {
// /* Styles */
// }

// /* iPhone 4 ----------- */
// @media
// only screen and (-webkit-min-device-pixel-ratio : 1.5),
// only screen and (min-device-pixel-ratio : 1.5) {
// /* Styles */
// }