$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {

}

.container {
    width: 100%;
}
// Main Section Start
#main {
    width: 100%;
    height: 780px;
    overflow: hidden;
    background-size: auto;
    background-color: rgba(0, 0, 0, .7);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 100%;
        height: 155px;
        background-color: rgb(46, 49, 51);
    }  
}



.background-image {
    width: 100%;
    height: auto;
    position: fixed;
    background-size: cover;
    background-position: center;
    z-index: -100;

    /* iPads (landscape) ----------- */
    @media screen and (max-width : 768px) {
        width: auto;
        height: 100%;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    }    
}

.logo {
    margin-top: 100px;
    width: 100px;
    height: auto;

    /* iPads (landscape) ----------- */
    @media screen and (max-width : 768px) {
        width: 50px;
        height: auto;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: inline-block;
        margin-top: 40px;
    } 
}

.col-lg-12 {
    margin: 0 auto;
    position: relative;
    text-align: center;

    .main-title {
        text-align: center;
        color: white;
        text-transform: capitalize;
        padding-top: 70px;
        font-size: 4em;
        font-weight: 100;
        letter-spacing: 2px;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            text-align: center;
            color: white;
            text-transform: capitalize;
            margin-top: 11px;
            padding-top: 0px;
            font-size: 12px;
            font-weight: 100;
            letter-spacing: 2px;
        } 
    }

    p {
        margin-top: 5px;
        text-align: center;
        letter-spacing: 2px;
        color: white;
        text-transform: uppercase;
        font-size: 13px;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            display: none;
        } 
    }
}

.underline-title {
    margin: 20px auto;
    height: 2px;
    width: 100px;
    border-bottom: 1px solid silver;
}     

.navigation {
    width: 100%;
    position: relative;
}

#work-btn {
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    color: silver;
    border: 2px solid rgb(138, 193, 186);
    line-height: 36px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;
    cursor: pointer;
    cursor: hand;

    &:hover {
        background-color: rgba(138, 193, 186, .4);
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

#about-btn {
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    color: silver;
    border: 2px solid rgb(138, 193, 186);
    line-height: 36px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;
    cursor: pointer;
    cursor: hand;

    &:hover {
        background-color: rgba(138, 193, 186, .4);
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

#contact-btn {
    text-transform: capitalize;
    width: 150px;
    height: 45px;
    color: silver;
    border: 2px solid rgb(138, 193, 186);
    line-height: 36px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    margin-top: 30px;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;
    cursor: pointer;
    cursor: hand;

    &:hover {
        background-color: rgba(138, 193, 186, .4);
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

// Main Section End















// Main Work Section Start

#work {
    background-color: #DADADA;
    width: 100%;
    height: auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        background-color: white;
    } 
}

.work-container {
    padding-bottom: 100px;
    width: 100%;
    padding-left: 9.5%;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        padding-left: 8px;
        padding-bottom: 10px;
    } 
}

.work-header {
    padding-left: 9.5%;
    padding-top: 30px;
    margin-top: 0px;

    .work-intro {
        padding-left: 20px;
        opacity: .7;
        letter-spacing: 1px;
        line-height: 33px;
        color: rgb(46, 49, 51);
        font-weight: 100;
        font-size: 26px;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            padding-left: 0px;
            text-align: center;
        } 
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        padding-left: 0px;
    } 
}

// Project Container Content Styles

.project-photo-container {
    overflow: hidden;
    width: 345px;
    height: 200px;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 80px;
        height: 80px;
        display: none;
    } 
}

.project-photo {
    width: 345px;
    height: auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

.project-title {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
    color: rgb(138, 193, 186);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        font-size: 11px;
        font-weight: 300;
        margin-top: 43%;
        margin-left: 0px;
        margin-bottom: 5px;
        text-align: center;
    } 
}

.project-description {
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-top: 0px;
    color: gray;
    transition-duration: .6s;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

.about-section-start {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    height: 1px;
    background-color: rgb(138, 193, 186);
    transition-duration: .6s;
}

.about-project {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    color: gray;
    transition-duration: .6s;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}       


// Get-A-Gig 

.project-get-a-gig-container {
    vertical-align: top;
    position: relative;
    margin: 20px;      
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    text-decoration: none;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
        color: snow;
        background-color: rgb(138, 193, 186);

        .project-title {
            font-size: 18px;
            font-weight: 100;
            letter-spacing: 1px;
            margin-top: 15px;
            margin-left: 15px;
            margin-bottom: 5px;
            color: white;
            transition-duration: .6s;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                font-size: 11px;
                font-weight: 300;
                margin-top: 43%;
                margin-left: 0px;
                margin-bottom: 5px;
                text-align: center;
            }
        }

        .project-description {
            font-size: 13px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-top: 0px;
            color: white;
            transition-duration: .6s;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }

        .about-section-start {
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 15px;
            height: 1px;
            background-color: white;
            transition-duration: .6s;
        }

        .about-project {
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 20px;
            color: white;
            transition-duration: .6s;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 130px;
        height: 130px;
        margin: 10px;
        box-shadow: none;
        border-radius: 0px;
        background-color: rgba(187, 187, 187, .4);
    }  
}


// Logos

.project-logos-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
        color: snow;
        background-color: rgb(138, 193, 186);

        .project-title {
            font-size: 18px;
            font-weight: 100;
            letter-spacing: 1px;
            margin-top: 15px;
            margin-left: 15px;
            margin-bottom: 5px;
            color: white;
            transition-duration: .6s;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                font-size: 11px;
                font-weight: 300;
                margin-top: 43%;
                margin-left: 0px;
                margin-bottom: 5px;
                text-align: center;
            }
        }

        .project-description {
            font-size: 13px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-top: 0px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }

        .about-section-start {
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 15px;
            height: 1px;
            background-color: white;
            transition-duration: .6s;
        }

        .about-project {
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 20px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 130px;
        height: 130px;
        margin: 10px;
        box-shadow: none;
        border-radius: 0px;
        background-color: rgba(187, 187, 187, .4);
    } 
}

// Todo Project

.project-todo-container {
    vertical-align: top;
    margin: 20px;      
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    text-decoration: none;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
        color: snow;
        background-color: rgb(138, 193, 186);

        .project-title {
            font-size: 18px;
            font-weight: 100;
            letter-spacing: 1px;
            margin-top: 15px;
            margin-left: 15px;
            margin-bottom: 5px;
            color: white;
            transition-duration: .6s;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                font-size: 11px;
                font-weight: 300;
                margin-top: 43%;
                margin-left: 0px;
                margin-bottom: 5px;
                text-align: center;
            }
        }

        .project-description {
            font-size: 13px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-top: 0px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }

        .about-section-start {
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 15px;
            height: 1px;
            background-color: white;
            transition-duration: .6s;
        }

        .about-project {
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 20px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 130px;
        height: 130px;
        margin: 10px;
        box-shadow: none;
        border-radius: 0px;
        background-color: rgba(187, 187, 187, .4);
    }  
}

// Picshare Project

.project-picshare-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
        color: snow;
        background-color: rgb(138, 193, 186);

        .project-title {
            font-size: 18px;
            font-weight: 100;
            letter-spacing: 1px;
            margin-top: 15px;
            margin-left: 15px;
            margin-bottom: 5px;
            color: white;
            transition-duration: .6s;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                font-size: 11px;
                font-weight: 300;
                margin-top: 43%;
                margin-left: 0px;
                margin-bottom: 5px;
                text-align: center;
            }
        }

        .project-description {
            font-size: 13px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-top: 0px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }

        .about-section-start {
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 15px;
            height: 1px;
            background-color: white;
            transition-duration: .6s;
        }

        .about-project {
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 20px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 130px;
        height: 130px;
        margin: 10px;
        box-shadow: none;
        border-radius: 0px;
        background-color: rgba(187, 187, 187, .4);
    } 
}

// Chat App Project

.project-chat-app-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    color: rgb(46, 49, 51);
    transition-duration: .6s;

    &:hover {
        color: snow;
        background-color: rgb(138, 193, 186);

        .project-title {
            font-size: 18px;
            font-weight: 100;
            letter-spacing: 1px;
            margin-top: 15px;
            margin-left: 15px;
            margin-bottom: 5px;
            color: white;
            transition-duration: .6s;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                font-size: 11px;
                font-weight: 300;
                margin-top: 43%;
                margin-left: 0px;
                margin-bottom: 5px;
                text-align: center;
            }
        }

        .project-description {
            font-size: 13px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-top: 0px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }

        .about-section-start {
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 15px;
            height: 1px;
            background-color: white;
            transition-duration: .6s;
        }

        .about-project {
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 20px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 130px;
        height: 130px;
        margin: 10px;
        box-shadow: none;
        border-radius: 0px;
        background-color: rgba(187, 187, 187, .4);
    }  
}

// Mello Yello

.project-mello-yello-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 345px;
    height: 410px;
    color: rgb(46, 49, 51);
    transition-duration: .6s; 

    &:hover {
        color: snow;
        background-color: rgb(138, 193, 186);

        .project-title {
            font-size: 18px;
            font-weight: 100;
            letter-spacing: 1px;
            margin-top: 15px;
            margin-left: 15px;
            margin-bottom: 5px;
            color: white;
            transition-duration: .6s;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                font-size: 11px;
                font-weight: 300;
                margin-top: 43%;
                margin-left: 0px;
                margin-bottom: 5px;
                text-align: center;
            }
        }

        .project-description {
            font-size: 13px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-top: 0px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }

        .about-section-start {
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 15px;
            height: 1px;
            background-color: white;
            transition-duration: .6s;
        }

        .about-project {
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 20px;
            color: white;

            /* Smartphones (portrait) ----------- */
            @media only screen and (max-width : 320px) {
                display: none;
            } 
        }
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 130px;
        height: 130px;
        margin: 10px;
        box-shadow: none;
        border-radius: 0px;
        background-color: rgba(187, 187, 187, .4);
    } 
}

// Work Section End













#about {
    background-color: rgba(72, 126, 119, 0.8);
    width: 100%;
    height: auto; 

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        height: auto;
    }
}

.about-me-copy {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10%;
    padding-bottom: 12%;
    text-align: center;
    line-height: 38px;
    letter-spacing: 1px;
    padding-left: 12%;
    padding-right: 12%;
    font-weight: 300;
    font-size: 25px;
    color: snow;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        margin-bottom: 0px;
        padding-bottom: 45px;
        padding-top: 50px;
        line-height: 23px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 200;
        font-size: 15px;
    }

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (max-width : 768px) {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 18px;
        line-height: 25px;
    }
}


















































// Logo Page Section Start



#logo-page-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    background-color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        position: relative;
    } 
}

.header-container {
    width: 1228px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 100%;
    } 
}

.header-logo-div {
    padding-top: 5px;
    display: inline-block;
    width: 60px;
    height: 60px;

    .header-logo {
        margin-top: 10px;
        width: 50px;
        height: 50px;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            margin-left: 10px;
        } 
    }
}

.navigation-buttons {
    display: inline-block;
    float: right;

    .home-button {
        font-weight: 100;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 80px;
        color: white;
        border: none;
        background-color: rgb(46, 49, 51);
        line-height: 70px;
        text-align: center;
        padding-top: 3px;
        margin: 0 auto;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, .1);
            border-bottom: 4px solid rgb(138, 193, 186);
        }
    }
}

#contact-button {
    font-weight: 100;
    letter-spacing: 2px;
    display: inline-block;
    width: 121px;
    height: 80px;
    color: white;
    border: none;
    background-color: rgb(46, 49, 51);
    line-height: 70px;
    text-align: center;
    padding-top: 3px;
    margin: 0 auto;
    -webkit-transition: all .2s ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
        border-bottom: 4px solid rgb(138, 193, 186);
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}



// Main Section Start
#logo-main {
    width: 100%;
    height: 380px;
    overflow: hidden;
    background-size: auto;
    background-color: rgb(138, 193, 186);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        height: auto;
    } 
}

.col-lg-12 {
    margin: 0 auto;
    position: relative;
    text-align: center;

    h1 {
        text-align: center;
        color: white;
        text-transform: capitalize;
        padding-top: 152px;
        font-size: 4em;
        font-weight: 100;
        letter-spacing: 2px;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            padding-top: 10px;
            padding-bottom: 25px;
            font-size: 20px;
        } 
    }
}

.logo-work-intro {
    letter-spacing: 1px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 24px;
    color: white;
    font-weight: 100;
    font-size: 20px;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        display: none;
    } 
}

// Main Section End



// Work Section Start

#logo-work {
    background-color: #DADADA;
    margin: 0 auto;
    height: auto;
}

.logo-work-container {
    padding-top: 65px;
    padding-bottom: 65px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}       

// Project Container One

.logo-one-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }  
}

.get-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    } 

    .get-logo {
        margin-top: 34px;
        display: inline-block;
        width: 260px;
        height: 280px;
        -webkit-filter: grayscale(1);
        background: url(/images/get-a-gig-logo.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            -webkit-filter: grayscale(0);
            background-size: 100%;
            opacity: 1;
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            width: 185px;
            height: 230px;
            margin-top: 40px;
            background: url(/images/get-a-gig-logo.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        } 
    }
}




// Project Container Two

.logo-two-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }
}

.rivera-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }

    .rivera-logo {
        display: inline-block;
        width: 290px;
        margin-top: 17px;
        height: 280px;
        -webkit-filter: grayscale(1);
        background: url(/images/rivera-logo-color.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            -webkit-filter: grayscale(0);
            background-size: 100%;
            opacity: 1;
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            width: 230px;
            height: 240px;
            background: url(/images/rivera-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

// Project Container Three

.logo-three-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    text-decoration: none;
    color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }
}

.golf-slayer-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }

    .golf-slayer-logo {
        display: inline-block;
        width: 278px;
        margin-top: 27px;
        height: 280px;
        -webkit-filter: grayscale(1);
        background: url(/images/golf-slayer-color.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            -webkit-filter: grayscale(0);
            background-size: 100%;
            opacity: 1;
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            width: 230px;
            height: 245px;
            margin-top: 20px;
            background: url(/images/golf-slayer-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

// Project Container Four

.logo-four-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    text-decoration: none;
    color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }
}

.my-yellow-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }

    .my-yellow-logo {
        display: inline-block;
        width: 278px;
        margin-top: 27px;
        height: 280px;
        -webkit-filter: grayscale(1);
        background: url(/images/my-yellow-color.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            -webkit-filter: grayscale(0);
            background-size: 100%;
            opacity: 1; 
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            width: 230px;
            height: 245px;
            margin-top: 20px;
            background: url(/images/my-yellow-color.png) no-repeat;
            background-size: 100%;
            opacity: 1; 
        }
    }
}

.logo-five-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    text-decoration: none;
    color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }
}

.queen-city-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }

    .queen-city-logo {
        display: inline-block;
        width: 278px;
        margin-top: 27px;
        height: 280px;
        -webkit-filter: grayscale(1);
        background: url(/images/queen-city-fab-color.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            -webkit-filter: grayscale(0);
            background-size: 100%;
            opacity: 1;
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            width: 230px;
            height: 245px;
            margin-top: 20px;
            background: url(/images/queen-city-fab-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

.logo-six-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    text-decoration: none;
    color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }
}

.safe-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }

    .safe-logo {
        display: inline-block;
        width: 278px;
        margin-top: 27px;
        height: 280px;
        -webkit-filter: grayscale(1);
        background: url(/images/safe-logo-color.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            -webkit-filter: grayscale(0);
            background-size: 100%;
            opacity: 1;
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            width: 230px;
            height: 245px;
            margin-top: 20px;
            background: url(/images/safe-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

.logo-seven-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    text-decoration: none;
    color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }
}

.river-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }

    .river-logo {
        display: inline-block;
        width: 330px;
        margin-top: 4px;
        height: 315px;
        -webkit-filter: grayscale(1);
        background: url(/images/river-logo-color.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            -webkit-filter: grayscale(0);
            background-size: 100%;
            opacity: 1;
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            width: 230px;
            height: 245px;
            margin-top: 20px;
            background: url(/images/river-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

.logo-eight-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    text-decoration: none;
    color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }
}

.senior-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }

    .senior-logo {
        display: inline-block;
        width: 340px;
        margin-top: 3px;
        height: 315px;
        -webkit-filter: grayscale(1);
        background: url(/images/senior-services-logo-color.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            -webkit-filter: grayscale(0);
            background-size: 100%;
            opacity: 1;
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            width: 230px;
            height: 245px;
            margin-top: 20px;
            background: url(/images/senior-services-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

.logo-nine-container {
    vertical-align: top;
    margin: 20px;
    position: relative;
    display: inline-block;
    background-color: snow;
    width: 380px;
    height: 330px;
    text-decoration: none;
    color: rgb(46, 49, 51);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }
}

.tinas-logo-container {
    width: 350px;
    height: 330px;
    margin: 0 auto;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 280px;
        height: 265px;
    }

    .tinas-logo {
        display: inline-block;
        width: 340px;
        margin-top: 3px;
        height: 315px;
        -webkit-filter: grayscale(1);
        background: url(/images/tees-cakery-logo-color.png) no-repeat;
        background-size: 100%;
        transition-duration: .7s;
        opacity: .7;

        &:hover {
            -webkit-filter: grayscale(0);
            background-size: 100%;
            opacity: 1;
        }

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            width: 230px;
            height: 245px;
            margin-top: 20px;
            background: url(/images/tees-cakery-logo-color.png) no-repeat;
            background-size: 100%;
            opacity: 1;
        }
    }
}

// Logo Page Section End















// Footer Start


#footer {
    background-color: rgb(46, 49, 51);
    background-size: 100% 100%;
    width: 100%;
    height: auto;
}

.connect {
    

    .say-hello {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        padding-top: 55px;
        font-size: 24px;
        color: rgb(138, 193, 186);
        margin-top: 0px;
        text-align: center;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            font-size: 16px;
        } 
    }
}

.underline {
    margin: 20px auto;
    background-color: rgb(138, 193, 186);
    width: 20px;
    height: 2px;
}

.social-links {
    text-align: center;
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 115px;
    width: 100%;
    height: 85px;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        margin-top: 20px;
        margin-bottom: 10px;
    }  
}

.github {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/mark-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/mark-white.png) no-repeat;
        background-size: 100%;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}

.linkedin {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/linkedin-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/linkedin-color.png) no-repeat;
        background-size: 100%;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}

.wordpress {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/wordpress-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/wordpress-color.png) no-repeat;
        background-size: 100%;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}


.twitter {
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/twiiter-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/twiiter-color.png) no-repeat;
        background-size: 100%;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}

.mail {
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    margin-right: 20px;
    width: 85px;
    height: 85px;
    background: url(/images/mail-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/mail-color.png) no-repeat;
        background-size: 100%;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
}

.dribbble {
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background: url(/images/dribbble-light-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;

    &:hover {
        background: url(/images/dribbble-color.png) no-repeat;
        background-size: 100%;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        width: 35px;
        height: 35px;
    }  
}

.bottom-line {
    margin-top: 75px;
    width: 100%;
    height: 1px;
    background-color: silver;
    opacity: .2;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        margin-top: 0px;
    }  
}

.copyright-div {
    margin-top: 20px;
    padding-bottom: 25px;
    height: 85px;
    width: 100%;
    text-align: center;

    .copyright-info {
        padding-left: 85px;
        padding-top: 25px;
        display: inline-block;
        text-align: center;
        font-size: 11px;
        font-weight: 100;
        color: silver;

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
            padding-left: 0px;
            padding-top: 0px;
            display: block;
        }  

    }
}

#scroll-up-btn {
    float: right;
    right: 10px;
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: url(/images/up-arrow-green.png) no-repeat;
    background-size: 100%;
    transition-duration: .7s;
    cursor: pointer;
    cursor: hand;

    &:hover {
        background: url(/images/up-arrow-white.png) no-repeat;
        background-size: 100%;
    }

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        float: none;
        right: 0px;
        margin-right: 0px;
        width: 35px;
        height: 35px;
    }  
}

// Footer End



















// /* Smartphones (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {

// }

// /* Smartphones (landscape) ----------- */
// @media only screen 
// and (min-width : 321px) {
// /* Styles */
// }

// /* Smartphones (portrait) ----------- */
// @media only screen 
// and (max-width : 320px) {

// .navigation div {
//     width: 100%;
//     display: block;
//     position: relative;
// }

// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {
// /* Styles */
// }

// /* iPads (landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : landscape) {
// /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
// /* Styles */
// }

// /* Desktops and laptops ----------- */
// @media only screen 
// and (min-width : 1224px) {
// /* Styles */
// }

// /* Large screens ----------- */
// @media only screen 
// and (min-width : 1824px) {
// /* Styles */
// }

// /* iPhone 4 ----------- */
// @media
// only screen and (-webkit-min-device-pixel-ratio : 1.5),
// only screen and (min-device-pixel-ratio : 1.5) {
// /* Styles */
// }